#plot-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}

svg {
  border: 1px solid #ccc;
  flex: 1;
  height: auto;
  width: 100%;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: 6;
  }
}
